body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: cadetblue;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.navtext{
    list-style: none;
}
.userInput{
    
    height: 10rem;
    display: flex;
    flex-direction: row;
}
.col{
    background-color: whitesmoke;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
  
    
}
.newpost{
    background-color: whitesmoke;
    border: 1px solid black;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: 5rem;
    left: 25%;
}
.userList{
    display: flex;
    flex-direction: row;
    height: 36rem;
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;


}
.todolist{
    background-image: url(https://wallpapercave.com/wp/wp2539503.jpg);
    background-size: 60rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    
    
}
.footer{
    padding: 5px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 10px;
    
}
#user{
    position: absolute;
    bottom: 5.4rem;
    height: 2rem;
    width: fit-content;
}
.btn{
    position: absolute;
    bottom: 5.4rem;
    height: 2rem;
    left: 4rem;
    float: right;
    width: fit-content;
}
.list{
    color: black;
    padding-right: 5px;
    margin-top: 1rem;
 list-style: circle;
 font-size: 2rem;
}
.newuser{
    margin: 3px;
}